


<%= form_with(model: pedido_det, local: true) do |form| %>
  <% if pedido_det.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido_det.errors.count, "error") %> prohibited this pedido_det from being saved:</h2>

      <ul>
      <% pedido_det.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :num_pedido %>
    <%= form.number_field :num_pedido, id: :pedido_det_num_pedido %>
  </div>

  <div class="field">
    <%= form.label :producto_code %>
    <%= form.number_field :producto_code, id: :pedido_det_producto_code %>
  </div>

  <div class="field">
    <%= form.label :qty %>
    <%= form.number_field :qty, id: :pedido_det_qty %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
