<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha despacho:</strong>
  <%= @pedido.fecha_despacho %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @pedido.observacion %>
</p>

<p>
  <strong>Num pedido:</strong>
  <%= @pedido.num_pedido %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
