<%# add navigation links to this file %>

<li class='nav-item'><%= link_to 'Pedidos', pedidos_path(), class: 'nav-link' %></li>

<% if user_signed_in? %>
    <% if current_user.try(:admin?) %>
        <li class='nav-item'><%= link_to 'Ayuda', page_path('about'), class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Usuarios', users_path(), class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Productos', productos_path(), class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Categorias', categories_path(), class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Unidades', unidads_path(), class: 'nav-link'  %></li>
    <% end %>
<% end %>


<% if user_signed_in? %>

    <li class='nav-item'><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'nav-link' %></li>
<% else %>
    <li class='nav-item'><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></li>

<% end %>
