<%= form_with(model: unidad, local: true) do |form| %>
  <% if unidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unidad.errors.count, "error") %> prohibited this unidad from being saved:</h2>

      <ul>
      <% unidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :unidad_nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
